/* START NAVIGATION BUTTONS */
body{background-color:#fff; }
p
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	line-height: 16px;
}

a{text-decoration:none;font-size: 13px;}
a:hover, a:active {
	text-decoration:none;
	color:#990099;
}
.Logo
{
	 color:#333399;
	font-family:Arial;
	font-size:24pt;
}

body
{
	font: normal 13px/14px Arial, sans-serif;
	text-align: center; /* For IE */
	padding: 0;
	margin: 0;
}


* html a:hover
{
	visibility: visible;
	text-decoration: none;
}

.cb{clear:both;}
image{border:none;}
.inpButton{padding:2px 5px 2px 5px;  font-size:13px; }
/*-------------------------------*/
.MenuText
{
	font-size: 13px;
	color: #fff;
	font-family:  arial, helvetica, sans-serif;
}

.bodyText
{
	font-family:  arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
}

.FooterText
{
	height: 26px;
	background-color: #ccc;
	text-align: center;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #669966;
}
.LoginTXTBOXContainer
{
	font: 12px Arial, Helvetica, sans-serif;
	background-image: url(images/Login_input_bk.gif);
	background-repeat: no-repeat;
	color: #000000;
	letter-spacing: 2px;
	padding: 2px;
	padding-top: 4px;
	width: 140px;
	clear: both;
	height: auto;
}
.inputFieldLogin
{
	color: #000000;
	background-color: #EBEBEB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 1px 2px 1px;
	border: 0px;
	height: 12px;
	vertical-align: top;
}
.inputErr
{
	
	font: 11px  Helvetica, sans-serif;
	color: #000;
	padding:3px 2px 0 2px;
	border: 1px solid #666;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	width:260px;
	height:16px;
	background-color:#FFDEDE;
}
.error
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: red;
}
.message
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.desc
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #aaa;
}
.message2
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
input[type=text], textarea
{
	font: 12px  Helvetica, sans-serif;
	color: #555;
	padding:5px 2px 0 2px;
	border: 1px solid #666;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	width:250px;
	height:20px;
	background-color:#fff;
}
.inputField
{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	padding:3px 2px 0 2px;
	border: 1px solid #666;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	width:250px;
	height:16px;
	background-color:#fff;
}
.gInputField
{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	padding-right: 2px;
	padding-left: 2px;
	border: 0px;
	width:125px;
	background-color:#D6DDE6;
}

.inputButton
{
	color: #39c;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 1px;
	border: 1px solid #39c;
}
select
{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	padding-left: 2px;
	width:260px;
	height:20px;
	background-color:#fff;
}
.label
{
	font: 12px Arial, Helvetica, sans-serif;
	color:#669966;
	font-weight: bold;
	padding-left: 2;
}

.info
{
	font: 12px  Arial, Helvetica, sans-serif;
	color: #000000;
	letter-spacing: 0px;
}
.infoLight
{
	font: 11px  Arial, Helvetica, sans-serif; color:#999; display:block; margin-top:5px; margin-bottom:10px;
}
.frm_inline_help{font:10px  Arial, Helvetica, sans-serif; color:#555;}
hr.divider 
{
	border-top:			none;
	border-right:		none;
	border-left:		none;
	border-bottom: dashed 1px #999999;
	width: 				100%;
	color: 				#FFFFFF;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	clear: both;
}
.loginPane
{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 1px 2px 1px;
	border: 0px;
	width:160px;
	height:100px
}
.sitemap
{
	font: 12px  Arial, Helvetica, sans-serif;
	color: #000000;
	letter-spacing: 0px;
}
.sitemap Div
{
	padding:2px 4px 4px 8px;
}
.required
{
	color:#CC0000;
}
.heading1
{
	font: 15px Arial, Helvetica, sans-serif;
	color: #990000;
	letter-spacing: 1px;
	font-weight:bold;
	padding: 5px 2px 2px 2px;
	border-bottom: solid 4px #990000;
	text-transform:uppercase;
}
.heading2
{
	font: 14px Arial, Helvetica, sans-serif;
	color: #669966;
	letter-spacing: 1px;
	font-weight:bold;
	padding: 5px 2px 2px 2px;	
	border-bottom: solid 3px #669966;
	text-transform:uppercase;
}
.subheading1
{
	font: 11px Arial, Helvetica, sans-serif;
	color: #333333;
	letter-spacing: 0px;
	font-weight:bold;
	padding: 5px 2px 5px 2px;

}
.subheading2
{
	font: 22px Arial, Helvetica, sans-serif;
	color: #333333;
	letter-spacing: 0px;
	font-weight:lighter;
	padding: 15px 20px 15px 20px;	
	font-weight:lighter;
	margin-bottom:10px;
	border-bottom:solid 1px #ccc;
	display:block;
}
.subheading3
{
	font: 16px Arial, Helvetica, sans-serif;
	color: #333;
	letter-spacing: 0px;
	font-weight:bold;
	padding: 5px 2px 5px 10px;	

	font-weight:lighter;
	
	
	display:block;
	background-color:#bbb;
}

.datatable {
border-collapse:collapse;
color:#333;
}
.datatable td { 
  border-bottom: 1px solid #ddd; 
  text-align: left; 
  padding: 10px;
} 
.header
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
  border-top: 1px solid #D6DDE6;
  border-right: 1px solid #D6DDE6;
  border-left: 1px solid #D6DDE6;
  background-color: #efefef; 
  font-weight: bold; 
  text-align: left;
 
  padding: 4px; 
  height:20px;

}
.header td
{
	font-family: Arial,  Helvetica, sans-serif;
	font-size: 12px;
	padding:5px;
} 
.datatable tr.altrow { 
   color: #000;
    height:17px;
}
.datatable tr {
    height:20px;
}
.datatable tr:hover {
   background-color:#efefef;
}


.rsdatatable {
	border-collapse:collapse;
	
}
.rsdatatable td { 
  
  text-align: left; 
  padding: 10px;
  padding-bottom:5px;
  border:solid 1px #ccc;
  color:#555;
  line-height:normal;
} 
.rsheader
{
 border-top: 0 solid #D6DDE6;
 border-right: 0 solid #D6DDE6;
 border-left: 0 solid #D6DDE6;
 background-color: #dedede; 
font-weight: bold; 
	text-align: left;
 
  height:25px;
  	padding:10px;

}
.rsheader td
{
	font-family: Arial,  Helvetica, sans-serif;
	font-size: 12px;
	padding:5px;
	color:#333;
	height:16px;
  	padding:8px;

} 
.rsheader td a
{
	color:#333;
}

.rsdatatable tr.altrow { 
  background-color: #fff; /*#DFE7F2; */ 
   height:17px;
}
.rsdatatable tr {
    height:20px;

}

.container1
{
 border:solid 1px #D6DDE6; 
 padding:10px;
 margin:5px;
 margin-top:15px;
 margin-bottom:2px;
 background:#fff;
}
.container2
{
 border:solid 1px #39c; 
 padding:10px;
 margin-bottom:2px;
  background:#fff;
}

/*///////////////////////////////TABS //////////////*/
/*/////////////////////Tab Pages ///////////////////////*/


a.subNavLink:link
{
	color: #4c4c4c;
	text-decoration: none;
	font-size: 10.5px;
	text-transform: uppercase;
	letter-spacing: 0px;
}
a.subNavLink:visited
{
	color: #fff;
	text-decoration: none;
	font-size: 10.5px;
	text-transform: uppercase;
	letter-spacing: 0px;
}
a.subNavLink:hover
{
	color: #fff;
	text-decoration: none;
	font-size: 10.5px;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.subNav
{
	font-size: 12px;
	color: #012E4F;
	background-color: #D5DCE2;
	padding: 2px 20px 2px 20px;
	text-transform: uppercase;
	vertical-align: middle;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #FFFFFF;
	font-family: Arial;
	cursor:hand;
}
.subNavEmpty
{
	font-size: 11px;
	color: #FFFFFF;
	background-color: #fff;
	padding: 0px 4px 0px 4px;
	text-transform: uppercase;
	vertical-align: middle;
	border-bottom: solid 2px #012E4F;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #FFFFFF;
	font-family: Arial;
	font-weight: bold;
}
.subNavCurrent
{
	font-size: 12px;
	color: #FFFFFF;
	background-color: #012E4F;
	padding: 2px 20px 2px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: middle;
	border-top: solid 1px #FFFFFF;
	border-left: solid 1px #FFFFFF;
	border-right: solid 1px #FFFFFF;
	font-family: Arial;
	font-weight: bold;

}

.trTabs
{
	border-bottom: solid 1px #012E4F;
}
p{font-family:  Arial, Helvetica, sans-serif;font-size: 12px;color: #000000;text-decoration: none;line-height: 16px;}
.cnt_header{background-color:#eee; padding:5px;margin-left: auto;  margin-right: auto; height:40px; border-bottom:solid 1px #ccc; padding:10px 35px 5px 35px;}
.cnt_para{float:left; width:200px; text-align:left; padding-top:4px;}
.cnt_logo_right{float:left; width:200px;border:solid 1px #000;}
.cnt_logo_right img{border:0; margin:0; padding:0; vertical-align:top;}
.cnt_hdControl{width:600px; text-align:right;float:right; padding-top:10px;}
.cnt_hdControl img{border:0px; padding:0; margin:2px 5px 0 5px;}
.container{margin-left: auto;  margin-right: auto;min-height:650px; padding:0 0 0 30px; background-color:#fff; }
.logo_cont{width:100%; height:55px; padding:0px; }
.logo_cont img{border:0px;  margin:0px; padding:0px;margin:2px auto 2px auto;}
.header_cont{height:20px; background-color:#ccc; padding:5px 10px 1px 10px; margin-bottom:5px; font-family: arial, helvetica, sans-serif; font-size:10px; color:#fff; width:775px;}
.header_cont a:hover{color:#fff;}
.nav_cont{margin-left:0;vertical-align: top; text-align: left;}

.content_cont{margin-left:0;vertical-align: top; text-align:left; min-height:700px;  height:100%;clear:both; }
.col1{vertical-align: top; text-align: left;width:130px; padding-right:15px; border-right:solid 1px #ccc;}
.col2{vertical-align: top; text-align: left; padding:5px; padding-right:0; width:100%; height:100%; padding-left:0px; }
.cnt_wrap{padding:10px 35px 15px 35px;}
.cnt_wrap_sub{border:solid 1px #ccc;}
.cnt_wrap_sub .cnt_wrap{padding:5px 20px 5px 20px;}

.cssnav{white-space: nowrap;display:block; }
.cssnav img{vertical-align:middle;}
.cssnavl{white-space: nowrap;display:block;  }

.cssnavr{padding:5px 0 5px 0;}
.cssnavl a:link, .cssnav a:link{text-decoration:none;color:#333;padding:8px;  display:block;}
.cssnavl a:hover, .cssnav a:hover{text-decoration:none;color:#cc0000;display:block;  background-color:#efefef; }



.navwrapper{height:auto; width:120px; margin:20px auto 5px auto; }
.navwrapper .hd{ display:block; height:22px;  font-family:Arial;  color:#cc0000;  font-size:16px; padding:5px 0 0 0; line-height:normal; margin-bottom:10px;}
.navwrapper img{border:0px;}
.nav_ctrl{border:solid 0px #fff; text-align:right; padding:5px 5px 5px 0; display:block;}
.cssnav2{font-family:  arial, helvetica, sans-serif;white-space: nowrap;display: block;}
.ctrl_head{margin: 0 0 0 0; padding: 4px; text-align: right; position: relative; display:block;  height:30px; width:680px;}
.label_td{font: 11px Arial, Helvetica, sans-serif;color:#669966; background-color:#DFE7F2; width:20%;font-weight: bold;padding-left: 2; vertical-align:top;}
.value_td{font: 11px Arial, Helvetica, sans-serif;color:#000; border:solid 1px #DFE7F2; width:80%; font-weight: bold;	padding-left: 2; vertical-align:top;}
.footer{margin:0px auto 0px auto; padding:15px 35px 10px 35px; height:20px; border-top:solid 1px #ccc;}
.footer a{text-decoration:none;}
.copyright{float:left; width:45%; text-align:left;padding-left:10px;}
.softman{width:45%;text-align:right}

.stats_tbl{border-collapse:collapse; padding:0px; margin:0px; display:block; border:0px;}
.stats_tbl td, th{padding:4px;}
.stats_tbl tr.altr{background-color:#DFE7F2;}
.stats_tbl tr.head td{font-weight:bold; color:#000; border-bottom:dotted 1px #999;}

/* ------------------ Form Style ----------------------------- */

.frm_cms{padding:0; margin:0; border-spacing:0; width:100%;display:block; border-collapse:collapse;}
.frm_cms td{padding:3px 10px 3px 10px; height:28px; border:solid 1px #dfdfdf; * padding:0 0 0 10px; * border-right:solid 2px #dfdfdf; }
.frm_cms tr{}
.frm_cms tr.altrow{background-color:#F4F6F9;}
.frm_cms td.lbl{font-size:11px; width:130px; padding-left:10px; vertical-align:middle; color:#003366; text-align:left; border-width:1px;}

.cnt_help{border:solid 1px #DFE7F2; padding:10px; margin-left:10px; padding-top:0px; text-align:left;}
.cnt_help img{border:0; margin:5px 0 5px 0;}
.cnt_help div.head{padding:8px 0px 8px 0px; font-size:16px; font-weight:lighter; color:#003366; border-bottom:solid 1px #DFE7F2; vertical-align:middle; background:#fff url('../images/ico_help2.gif') left no-repeat; padding-left:30px;}
.cnt_help div.head img{vertical-align:middle;}
.cnt_help p{font-size:11px; color:#3399CC; padding:0 0 0 10px;  margin:0; line-height:13px;}
.cnt_help h2{color:#003366; font-size:11px; padding:0; margin:4px; margin-top:5px;}

.msg{margin-bottom:10px; border:solid 1px #F7F7F7; padding:5px; width:80%;}
.msg p{background-color:#FFFFDD; padding:5px; color:#ff0000; font-size:11px; margin:0;}
.tit_err{background:#fff url(../images/ico_error.gif) no-repeat top left; font-size:18px;padding:0 0 5px 25px; color:#003366; font-weight:lighter; line-height:18px; font-family:Arial;}
.tit_info{background:#fff url(../images/ico_info.gif) no-repeat top left; font-size:18px;padding:0 0 5px 25px; color:#003366; font-weight:lighter; line-height:18px; font-family:Arial;}
.tit_succ{background:#fff url(../images/ico_success.gif) no-repeat top left; font-size:18px;padding:0 0 5px 25px; color:#003366; font-weight:lighter; line-height:18px; font-family:Arial;}


/* --------------------- Button Style ------------------------------ */


/* ----------------------- New Tab Pages ------------------------------ */
.tabUnactive {font-size:11px; background: url(../images/tab_off_bg.gif) repeat-x;color:#fff; text-align:center;cursor: pointer;width:110px;line-height:normal;padding:5px 0 5px 0;}
.tabActive{line-height:normal;font-weight: normal;font-size: 11px; background: url(../images/tab_on_bg.gif) repeat-x; cursor: pointer; color: #fff; background-color: #669966;text-align:center;width:110px;padding:5px 0 5px 0;}
.tabSeparator {width:2px; height:20px;}
.tabUnactive a, .tabActive a{color:#fff;}
.lineOn {cursor: hand; BACKGROUND-COLOR: #ffeecc}
.lineOff {cursor: hand; BACKGROUND-COLOR: #ffffff}
.sheetUnactive {display:none;}
.sheetActive {border-top:solid 3px #669966; padding:20px 10px 10px 10px;} 


 /* ----------------------- Search and Filter Styles --------------- */
 .fltr_set{border:solid 1px #999; margin-bottom:10px; padding:10px;}
.fltr_set p{padding:7px; margin:0;}
.fltr_set legend{color:#09c}

.srch_set{border:solid 1px #ccc; padding-bottom:10px;}
.srch_set legend{color:#09c}


input.inputclnd
{
	font: 11px Verdana, Helvetica, sans-serif;
	color: #666;
	padding-right: 2px;
	padding-left: 2px;
	border:1px solid #999;
	width:60px;
	background-color:#fff;
}
input.inputfltr{width:120px;}
.selectfltr
{
	font: 11px Verdana, Helvetica, sans-serif;
	color: #666;
	border: 1px solid #666;
	width:auto;
	background-color:#fff;
}
.bigfltr
{
	font: 13px Verdana, Helvetica, sans-serif;
	color: #444;
	border: 1px solid #666;
	width:auto;
	padding:2px;
	background-color:#fff;
}

/* ------------------------ New Form Style ------------------ */
.srg_frm{border:solid 0px #000;}
.seg_tbl{border:solid 0px #000; margin-left:15px; padding:0;border-collapse:collapse; border-spacing:0; width:680px;margin-bottom:15px;}
.seg_tbl th,td{padding:4px; border:solid 0px red; text-align:left; vertical-align:top;}
.seg_tbl td.alt{padding:2px; }
.seg_tbl td.lbl{width:120px; text-align:left;color:#333;}
.seg_tbl td.lbl2{text-align:left;color:#669966; colspan:2;width:100%;}
.seg_tbl td.ctrl{width:480px;}
.seg_tbl td.sptr{colspan:2; height:10px;}

.hd1{background: #eee; padding: 0; margin: 10px 0 10px 0; height: 16px; width: 600px;}
.hd1 h2{padding: 0; margin: 0; color: #333399; border: 0px; font-size: 12px; display: inline;
            padding-right: 5px; background-color: #fff; font-family: arial; line-height: 16px;
            float: left;}
.hd1 .exp{display: inline; float: right; border: solid 0px #000;}       

.sm_box{width:20px; height:10px; float:left; margin-right:3px; vertical-align:middle;}
.sm_box_in{width:10px; height:10px; float:right;vertical-align:middle;}
.btn_login_b{width:65px;height: 22px;display:block; background: url('../images/btn_login.gif') no-repeat; vertical-align:middle;margin-left:auto; float:right; margin-right:0px; margin-top:0px; margin-bottom:0px }
a.btn_login_b:hover{width:65px;background-position:   100% 0px; border:0px none;}

.fldset{padding:20px;}

/* ------------------------------- CMS Tab --------------------------------- */

.cms_tab{border-bottom:solid 0px #ccc; padding:0; margin:0; margin-bottom:20px;}
.cms_tab li{display:block; float:left; border:solid 0px #000; margin:0; margin-right:5px;}
.cms_tab li a{display:block; border:solid 1px #ccc; border-bottom:none; padding:8px 15px 8px 15px;background-color:#efefef;}
.cms_tab li a.act_tab{background-color:#fff;}
.cms_tab li a:hover{background-color:#fff;}
.cms_tab li.cb{ clear:both; float:none; border:none; height:0;}


/* ----------------------- Stellar Feed ------------------------- */

.fdBox{border:solid 1px #ccc; padding:10px; width:350px;}
.fdBox h2{font-weight:lighter; padding-top:0; margin-top:0;}
.fdTbl{border-collapse:collapse; width:100%;}
.fdTbl td{font-size:14px; padding:8px; border:solid 1px #eee;}
.fdSuccess{color:Green;}
.fdErr{color:Red;}

.fdchk{padding:6px; text-align:right;}

.tblFeed
{   width: 650px;
    border-collapse: collapse;
    margin: 30px auto 30px auto;
    border: solid 1px #ececec;
}
        .tblFeed th
        {
            font-size: 16px;
            padding: 15px 15px 10px 15px;
            text-align: left;
            width: 50%;
        }
        .tblFeed td
        {
            font-size: 16px;
            padding: 8px 15px 10px 15px;
        }
        .tblFeed td input
        {
            width: 46%;
        }
        .tblFeed td a
        {
            font-size: 16px;
        }
   .tblFeed td .fdTbl td{font-size:14px; padding:8px; border:solid 1px #eee;}
